---
import Layout from "@layouts/Layout.astro";
---

<Layout title="特定商取引法に基づく表記">
  <div class="wrap_inner">
    <h1>特定商取引法に基づく表記</h1>
    <table>
      <tbody>
        <tr>
          <th>サービス名</th>
          <td>シダキュア！</td>
        </tr>
        <tr>
          <th>販売業社の名称</th>
          <td>後藤 将</td>
        </tr>
        <tr>
          <th>所在地</th>
          <td>請求があったら遅滞なく開示します</td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td>請求があったら遅滞なく開示します</td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td>goto@gottu-tech.com</td>
        </tr>
        <tr>
          <th>運営統括責任者</th>
          <td>後藤 将</td>
        </tr>
        <tr>
          <th>追加手数料等の追加料金</th>
          <td>なし</td>
        </tr>
        <tr>
          <th>交換および返品（返金ポリシー）</th>
          <td>
            ＜お客様都合の返品・交換の場合＞
            ウェブサイトのキャンセルボタンを押すことで注文のキャンセルが可能です。

            ＜商品に不備がある場合＞
            当方の負担にて返金いたします。goto@gottu-tech.comまでご連絡ください。
          </td>
        </tr>
        <tr>
          <th>引渡時期</th>
          <td>決済後、サービスが即利用できます。</td>
        </tr>
        <tr>
          <th>受け付け可能な決済手段</th>
          <td>クレジットカード</td>
        </tr>
        <tr>
          <th>決済期間</th>
          <td>クレジットカード決済の場合ただちに処理されます。</td>
        </tr>
        <tr>
          <th>販売価格</th>
          <td>100円/月</td>
        </tr>
      </tbody>
    </table>
  </div>
</Layout>

<style>
  th, td {
    border: 1px solid #ccc;
    padding: 10px 20px;
  }
</style>