---
import SecBlog from "@components/SecBlog.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="お問い合わせ完了画面">
  <div class="wrap_inner">
    <p class="text">
      お問い合わせありがとうございました。<br>
      メールアドレスに自動返信メールを送信いたしました。<br>
      数日以内に返信いたします。<br>
    </p>
  </div>
</Layout>