---
---

<footer>
  <div class="footer_inner">
    <p class="copyright">© 2023 Gottu Tech. All Rights Reserved.</p>
  </div>
</footer>

<style>
  .footer_inner {
    padding: 0 0 100px;
  }

  .copyright {
    text-align: center;
    font-size: 14px;
  }
</style>